* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  position: relative;
  background-color: black;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('stacks-image-3ab4af2-1198x892.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1; 
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35vw;
  z-index: 1; 
}

.inputs {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.inputs input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccccccd0;
  outline: none;
}

.cursosbox select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccccccd0;
}

button {
  width: 100%;
  background-color: rgb(87, 180, 87);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

#btn2 {
  background-color: rgb(216, 76, 76);
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  display: none;
  padding: 15px;
  border-radius: 5px;
}

.detailed-results {
  width: 35vw;
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailed-results h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.detailed-results p {
  margin: 5px 0;
  font-size: 16px;
}

#nota3 {
  background-color: #dddddd;
}

@media (max-width: 736px) {
  .container {
      width: 60vw;
  }

  .detailed-results {
      width: 60vw;
  }

  .inputs {
      flex-direction: column;
  }
}

@media (max-width: 536px) {
  .container {
      width: 85vw;
  }

  .detailed-results {
      width: 85vw;
  }
}
